[run]

branch = true

data_file = .cache/coverage

omit =
    .venv/*
    */__main__.py
    */prompts.py
    */tests/*

[report]

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    except DistributionNotFound
    TYPE_CHECKING
