[tool.poetry]

name = "pomace"
version = "0.8.14"
description = "Dynamic page objects for browser automation."

license = "MIT"

authors = ["Jace Browning <jacebrowning@gmail.com>"]

readme = "README.md"

homepage = "https://pypi.org/project/pomace"
documentation = "https://pomace.readthedocs.io"
repository = "https://github.com/jacebrowning/pomace"

keywords = [
    "browser automation",
    "page object model",
    "selenium",
    "splinter",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Internet :: WWW/HTTP :: Browsers",
    "Topic :: Software Development :: Testing",
]

[tool.poetry.dependencies]

python = "^3.7"

# Interface
cleo = "~0.8.1"
bullet = "^2.1"
ipdb = "~0.13.7"
flask-api = "^3.0"

# Automation
splinter = "^0.15"
webdriver_manager = "^2.5"

# Persistence
datafiles = "^0.15"
gitman = "^2.3"
parse = "^1.14"

# Data
faker = ">=4.1.1"
zipcodes = "^1.1.2"
us = "^2.0.2"

# Utilities
cached-property = "^1.5.2" # needed for Python < 3.8
beautifulsoup4 = "^4.8.2"
fake-useragent ="~0.1.11"
inflection = "~0.4"
minilog = "^2.0"

[tool.poetry.dev-dependencies]

# Formatters
black = "=20.8b1"
isort = "=5.5.1"

# Linters
mypy = "~0.782"
pydocstyle = "*"
pylint = "~2.6"

# Testing
pytest = "^6.2.4"
pytest-cov = "*"
pytest-describe = { git = "https://github.com/pytest-dev/pytest-describe", rev = "9014bf3ee564518aad3622b5f035f7ca6139e398" }
pytest-expecter = "^2.0"
pytest-mock = "^2.0"
pytest-vcr = "^1.0.2"
pytest-random = "*"
freezegun = "*"

# Reports
coveragespace = "^4.1"

# Documentation
mkdocs = "^1.2.2"
pygments = "^2.9"

# Tooling
pyinstaller = "*"
sniffer = "*"
MacFSEvents = { version = "*", platform = "darwin" }
pync = { version = "*", platform = "darwin" }
rope = "^0.18"

[tool.poetry.scripts]

pomace = "pomace.cli:application.run"

[build-system]

requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
