mkdocs==1.2.4; python_version >= "3.6"
pygments==2.11.2; python_version >= "3.5"
jinja2==3.0.3; python_version >= "3.6"
importlib-metadata==4.10.1; python_version < "3.10" and python_version >= "3.7"
